Dia 1

O desafio consiste em apenas unificar todos os dados de empréstimo em um único DataFrame e mesclar os dados exemplares ao DataFrame criado, relacionando o código de barras de cada livro.

In [58]:
import pandas as pd

In [59]:
lista_emprestimos = ['./Datasets/dados_emprestimos/emprestimos-20101.csv', './Datasets/dados_emprestimos/emprestimos-20102.csv', 
                     './Datasets/dados_emprestimos/emprestimos-20111.csv', './Datasets/dados_emprestimos/emprestimos-20112.csv',
                     './Datasets/dados_emprestimos/emprestimos-20121.csv', './Datasets/dados_emprestimos/emprestimos-20122.csv',
                     './Datasets/dados_emprestimos/emprestimos-20131.csv', './Datasets/dados_emprestimos/emprestimos-20132.csv',
                     './Datasets/dados_emprestimos/emprestimos-20141.csv', './Datasets/dados_emprestimos/emprestimos-20142.csv',
                     './Datasets/dados_emprestimos/emprestimos-20151.csv', './Datasets/dados_emprestimos/emprestimos-20152.csv',
                     './Datasets/dados_emprestimos/emprestimos-20161.csv', './Datasets/dados_emprestimos/emprestimos-20162.csv',
                     './Datasets/dados_emprestimos/emprestimos-20171.csv', './Datasets/dados_emprestimos/emprestimos-20172.csv', 
                     './Datasets/dados_emprestimos/emprestimos-20181.csv', './Datasets/dados_emprestimos/emprestimos-20182.csv',
                     './Datasets/dados_emprestimos/emprestimos-20191.csv', './Datasets/dados_emprestimos/emprestimos-20192.csv',
                     './Datasets/dados_emprestimos/emprestimos-20201.csv']

emprestimos = pd.read_csv(lista_emprestimos[0])

In [60]:
for i in range(len(lista_emprestimos)):
    dados = pd.read_csv(lista_emprestimos[i])
    emprestimos = pd.concat([emprestimos, dados], axis=0, join='outer', sort=True)

In [61]:
emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2353375 entries, 0 to 26560
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   codigo_barras         object
 1   data_devolucao        object
 2   data_emprestimo       object
 3   data_renovacao        object
 4   id_emprestimo         int64
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 143.6+ MB

In [62]:
dados_exemplares = pd.read_parquet('./Datasets/dados_exemplares.parquet')

emprestimos = pd.merge(emprestimos, dados_exemplares, how='outer', sort=True)

In [63]:
emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664721 entries, 0 to 2664720
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   codigo_barras         object
 1   data_devolucao        object
 2   data_emprestimo       object
 3   data_renovacao        object
 4   id_emprestimo         float64
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  registro_sistema      float64
dtypes: float64(5), object(8)
memory usage: 264.3+ MB

In [64]:
emprestimos = emprestimos[['id_emprestimo', 'id_exemplar', 'codigo_barras', 'data_devolucao', 'data_emprestimo', 'data_renovacao',
                          'matricula_ou_siape', 'tipo_vinculo_usuario',
                          'colecao', 'biblioteca', 'status_material',
                          'localizacao', 'registro_sistema']]

emprestimos.sort_values('id_emprestimo', inplace=True)
emprestimos.reset_index(drop=True, inplace=True)
emprestimos.head()

,id_emprestimo,id_exemplar,codigo_barras,data_devolucao,data_emprestimo,data_renovacao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
2,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
3,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
4,709685.0,70865.0,L167050,2010/01/12 07:34:13.934000000,2010/01/04 07:44:10.750000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0

In [65]:
print(emprestimos.duplicated().sum())

95435

In [66]:
emprestimos.drop_duplicates(inplace=True)
emprestimos.reset_index(drop=True, inplace=True)
emprestimos.head()

,id_emprestimo,id_exemplar,codigo_barras,data_devolucao,data_emprestimo,data_renovacao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685.0,70865.0,L167050,2010/01/12 07:34:13.934000000,2010/01/04 07:44:10.750000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686.0,195347.0,2006017618,2010/02/25 07:36:25.800000000,2010/01/04 08:08:44.081000000,2010/01/26 08:07:01.738000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687.0,131639.0,L184117,2010/02/03 08:58:45.692000000,2010/01/04 08:24:21.284000000,2010/01/18 11:07:46.470000000,2.007211e+08,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688.0,225646.0,2007027500,2010/02/03 13:06:30.662000000,2010/01/04 08:27:33.569000000,2010/01/19 15:59:26.464000000,2.009046e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0

Dia 2

O desafio consistia em atualizar os dados do DataFrame criando uma nova coluna relacionando as identificações dos números da coluna "localizacao" com base no CDU geral:

.000 a 099: Generalidades. Ciência e conhecimento.

.100 a 199: Filosofia e psicologia.

.200 a 299: Religião.

.300 a 399: Ciências sociais.

.400 a 499: Classe vaga. Provisoriamente não ocupada.

.500 a 599: Matemática e ciências naturais.

.600 a 699: Ciências aplicadas.

.700 a 799: Belas artes.

.800 a 899: Linguagem. Língua. Linguística.

.900 a 999: Geografia. Biografia. História.

Além do mais, precisará ainda excluir a coluna "registro_sistema" que não está fazendo sentido para essa análise e modificar a coluna da matricula (“matricula_ou_siape”) que não está com um formato muito legível, transformando-a em formato 'String'.

In [67]:
emprestimos.drop(columns='registro_sistema', inplace=True)
emprestimos.head()

,id_emprestimo,id_exemplar,codigo_barras,data_devolucao,data_emprestimo,data_renovacao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao
0,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0
1,709685.0,70865.0,L167050,2010/01/12 07:34:13.934000000,2010/01/04 07:44:10.750000000,NaN,2.008023e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0
2,709686.0,195347.0,2006017618,2010/02/25 07:36:25.800000000,2010/01/04 08:08:44.081000000,2010/01/26 08:07:01.738000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0
3,709687.0,131639.0,L184117,2010/02/03 08:58:45.692000000,2010/01/04 08:24:21.284000000,2010/01/18 11:07:46.470000000,2.007211e+08,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0
4,709688.0,225646.0,2007027500,2010/02/03 13:06:30.662000000,2010/01/04 08:27:33.569000000,2010/01/19 15:59:26.464000000,2.009046e+09,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0

In [68]:
emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569286 entries, 0 to 2569285
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         float64
 1   id_exemplar           float64
 2   codigo_barras         object
 3   data_devolucao        object
 4   data_emprestimo       object
 5   data_renovacao        object
 6   matricula_ou_siape    float64
 7   tipo_vinculo_usuario  object
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
dtypes: float64(4), object(8)
memory usage: 235.2+ MB

In [69]:
emprestimos['matricula_ou_siape'] = emprestimos['matricula_ou_siape'].astype('string')
emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569286 entries, 0 to 2569285
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         float64
 1   id_exemplar           float64
 2   codigo_barras         object
 3   data_devolucao        object
 4   data_emprestimo       object
 5   data_renovacao        object
 6   matricula_ou_siape    string
 7   tipo_vinculo_usuario  object
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
dtypes: float64(3), object(8), string(1)
memory usage: 235.2+ MB

In [70]:
import numpy as np

In [71]:
cdu = {0: 'Generalidades. Ciência e conhecimento',
       1: 'Filosofia e psicologia',
       2: 'Religião',
       3: 'Ciências sociais',
       4: 'Classe vaga. Provisoriamente não ocupada',
       5: 'Matemática e ciências naturais',
       6: 'Ciências aplicadas',
       7: 'Belas artes',
       8: 'Linguagem. Língua. Linguística',
       9: 'Geografia. Biografia. História'
}

In [75]:
emprestimos['CDU'] = np.floor(emprestimos['localizacao']/100)

In [76]:
emprestimos['CDU'] = emprestimos['CDU'].replace(cdu)
emprestimos.head()

,id_emprestimo,id_exemplar,codigo_barras,data_devolucao,data_emprestimo,data_renovacao,matricula_ou_siape,tipo_vinculo_usuario,colecao,biblioteca,status_material,localizacao,CDU
0,709684.0,13259.0,L095049,2010/01/05 16:26:12.662000000,2010/01/04 07:44:10.721000000,NaN,2008023265.0,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,Ciências aplicadas
1,709685.0,70865.0,L167050,2010/01/12 07:34:13.934000000,2010/01/04 07:44:10.750000000,NaN,2008023265.0,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,Ciências aplicadas
2,709686.0,195347.0,2006017618,2010/02/25 07:36:25.800000000,2010/01/04 08:08:44.081000000,2010/01/26 08:07:01.738000000,2008112114.0,ALUNO DE PÓS-GRADUAÇÃO,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,Ciências aplicadas
3,709687.0,131639.0,L184117,2010/02/03 08:58:45.692000000,2010/01/04 08:24:21.284000000,2010/01/18 11:07:46.470000000,200721119.0,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,Ciências aplicadas
4,709688.0,225646.0,2007027500,2010/02/03 13:06:30.662000000,2010/01/04 08:27:33.569000000,2010/01/19 15:59:26.464000000,2009045971.0,ALUNO DE GRADUAÇÃO,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,Ciências aplicadas